.profile__add-btn {
    all: unset;
    margin-left: auto;
    height: 50px;
    width: 150px;
    background-image: url(../../../images/Add-Button.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 931px) {
    .profile__add-btn {
        margin-left: 0;
        margin-top: 36px;
        background-image: url(../../../images/Add-Button_mobile.svg);
        width: 282px;
    }
}