.element__like-btn {
    all: unset;
    height: 22px;
    width: 22px;
    background-image: url(../../../images/Like-Button.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    cursor: pointer;
}

.element__like-btn:hover {
    opacity: 0.5;
}