.popup__form-button {
    margin-top: 18px;
    background-color: black;
    padding: 14px 124px 18px;
    color: #fff;
    opacity: 1;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.popup__form-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__form-button {
        padding-left: 82px;
        padding-right: 82px;
        padding-bottom: 14px;
        font-size: 0.875rem;
        line-height: 1.05rem;
    }
}